<form method="get" action="{{ path('user_add_project', {'id': project.id}) }}">
    <button class="btn btn-success" id="button">
        <i class="fas fa-hammer"> Trabajadores</i>
    </button>
</form>