<form method="post" action="{{ path('project_delete', {'id': project.id}) }}" onsubmit="return confirm('¿Esta seguro que quiere borrar el proyecto? se eliminaran todos los registros asociados.');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
    <button class="btn btn-danger" id="button"><i class="fas fa-trash-alt"></i></button>
</form>
