<form method="get" action="{{ path('project_observations', {'idP': project.id}) }}">
    <button class="btn btn-success" id="button">
        <i class="far fa-eye"> Observaciones</i>
    </button>
</form>