<form method="post" action="{{ path('tool_delete', {'id': tool.id}) }}" onsubmit="return confirm('¿Estás seguro de que deseas eliminar la herramienta?  perderas los movimientos asociados ');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tool.id) }}">
    <button class="btn btn-danger" id="button"><i class="fas fa-trash-alt"></i></button>
</form>
