{% extends 'base.html.twig' %}

{% block title %}Nueva herramienta {% endblock %}

{% block body %}

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-9 bg-white rounded my3 p-5">
                <h1>Registra una nueva herramienta</h1>
                <a href="{{ path('tool_index') }}"><i class="fas fa-hand-point-left"> Volver a la lista</i></a>
                {{ include('tool/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
