<form method="post" action="{{ path('task_delete', {'id': task.id}) }}" onsubmit="return confirm('¿Estás seguro que desea eliminar la tarea? se eliminaran todos los registros, de los proyectos que no esten finalizados.');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
    <button class="btn btn-danger" id="button"><i class="fas fa-trash-alt"></i></button>
</form>
