<form method="post" action="{{ path('material_delete', {'id': material.id}) }}" onsubmit="return confirm('¿Está seguro que desea eliminar este artículo? perderas los movimientos relacionados');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ material.id) }}">
    <button class="btn btn-danger" id="button"><i class="fas fa-trash-alt"></i></button>
</form>
